body.page-node-40 #main-wrapper #block-system-main {
    background-color: transparent;
    border-radius: 5px;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row .col-3 #v-pills-tab {
    border-right: 1px solid darkgrey;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row .col-3 #v-pills-tab .nav-link {
    text-align: center;
    outline: none;
    background-color: transparent;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row .col-3 #v-pills-tab .nav-link.active {
    outline: none;
    color: #ec5a13;
    background-color: transparent;
    /*border: none;*/
    font-weight: bold;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row .col-3 #v-pills-tab .nav-link.active::after {
    position: absolute;
    content: "";
    background-image: url(../images/sup-icon.png);
    background-position: right;
    background-repeat: no-repeat;
    width:40px;
    height: 25px;
    color: #ec5a13;
    right: 30px;
}
body.page-node-40 #node-40 #v-pills-tab button {

}
body.page-node-40 #node-40 #v-pills-tab button svg {
    float: left;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row ul {
    list-style-type: none;
}
body.page-node-40 #main-wrapper #block-system-main #node-40 .row li a {
    color: #000000;
}